html, body {margin: 0; height: 100%; overflow: hidden}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: var(--text-color);
  font-family: "montserrat", sans-serif;
}

/*header style*/
h1 {
  text-align: center; 
  padding: 20px;
  color: white;
  font-size: 50;
}
/*navigation bar style*/
h2 {
  text-align: center;
  word-spacing: 20;
  padding: 10px;
  color: White;
  font-family: Helvetica; 
}

h3 {
  text-align: center;
  word-spacing: 20;
  padding: 10px;
  color: White;
  font-family: Helvetica; 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row {
  padding-left: 25%;
  padding-right: 25%;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.link {
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  line-height: 2rem;
  color: White;
  text-decoration: none;
  transition: 0.25s;
}