.header {
  display: flex;
  height: 55px;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  width: 150px;
}

.center-section {
  margin-left: 70px;
  margin-right: 40px;
  flex: 1;
  max-width: 500px;
}

.right-section {
  width: 150px;
}